body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.row{
	max-width: 100%;
	max-height: 100%;

}
.col {
	height: auto;
	padding: 10px;
	float: left;
	box-sizing: border-box;
}
.col1 {
	background-color: #fff;
	border-right: 1px solid #afbacc;
	width: 30%;
	padding: 3%;

}
.col2 {
	background-color: #fff;
	width: 70%;
	padding: 3%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
	float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f2f2f2;
		color: #111;
}
header {
	padding-top: 100px;
	padding-bottom: 100px;
}
